
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.min-padding {
   padding-left: 3px;
   padding-right: 3px;
   padding-top: 3px;
   margin: 0 !important;
}

.panel {
	margin-bottom: 3px;
}

.panel-heading {
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-top: 3px;
}

.sys-move{
   cursor: grab;
}

.table-condensed {
   font-size: 12px;
}