<div class="row">
	<div class="col-lg-12">
	    <h1 class="page-header">Busca</h1>
	</div>
</div>

<div class="row">

	<div class="col-lg-4" id="busc-geral">
		<div class="panel panel-default">
		    <div class="panel-heading">Geral</div>
		    <div class="panel-body">
			    <input class="form-control" id="busc-texto" placeholder="">
			    <div class="form-group">
			    	<label class="radio-inline">
			    		<input type="radio" name="filtro_buscar" value="opt_todos" checked=""> Todos
			    	</label>
			    	<label class="radio-inline">
			    		<input type="radio" name="filtro_buscar" value="opt_google"> Google
			    	</label>
			    	<label class="radio-inline">
			    		<input type="radio" name="filtro_buscar" value="opt_bing"> Bing
			    	</label>
			    </div>
		    </div>
		    <div class="panel-footer">
				<button type="button" class="btn btn-info" id="busc-gerar">Buscar</button> 
		    </div>
		</div>
	</div>


	<div class="col-lg-4" id="busc-whois">
		<div class="panel panel-default">
		    <div class="panel-heading">Whois Site</div>
		    <div class="panel-body">
			    <input class="form-control" id="busc-texto" placeholder="www.pudim.com.br">
			    <p class="help-block">whois.com, who.is, whois.net</p>
		    </div>
		    <div class="panel-footer">
				<button type="button" class="btn btn-info" id="busc-gerar">Buscar</button> 
		    </div>
		</div>
	</div>

	<div class="col-lg-4" id="busc-mapa">
		<div class="panel panel-default">
		    <div class="panel-heading">Mapas</div>
		    <div class="panel-body">
			    <input class="form-control" id="busc-texto" placeholder="www.pudim.com.br">
			    <p class="help-block">Maps.Google, Maps.Here, Cep.Guiamais</p>
		    </div>
		    <div class="panel-footer">
				<button type="button" class="btn btn-info" id="busc-gerar">Buscar</button> 
		    </div>
		</div>
	</div>
</div>

