<div class="row">
	<div class="col-lg-12">
	    <h1 class="page-header">Calculadora</h1>
	</div>
</div>
<style type="text/css">
	.btn-num-calc{
		width: 42px;
		height: 42px;
		margin: 1px;
	}
</style>
<div class="row">
	<div class="col-lg-4">
		<div class="panel panel-default">
	        <div class="panel-heading">Calculadora</div>
	        <div class="panel-body">
				<table style="border: 5px solid #cccccc;">
					<tr>
						<td colspan="4"><input class="form-control" id="result-calc"></td>
					</tr>
					<tr>
						<td width="45"><button type="button" class="btn btn-info btn-num-calc" data-comando="7">7</button></td>
						<td width="45"><button type="button" class="btn btn-info btn-num-calc" data-comando="8">8</button></td>
						<td width="45"><button type="button" class="btn btn-info btn-num-calc" data-comando="9">9</button></td>
						<td width="45"><button type="button" class="btn btn-default btn-num-calc" data-comando="+">+</button></td>
					</tr>
					<tr>
						<td><button type="button" class="btn btn-info btn-num-calc" data-comando="4">4</button></td>
						<td><button type="button" class="btn btn-info btn-num-calc" data-comando="5">5</button></td>
						<td><button type="button" class="btn btn-info btn-num-calc" data-comando="6">6</button></td>
						<td><button type="button" class="btn btn-default btn-num-calc" data-comando="-">-</button></td>
					</tr>
					<tr>
						<td><button type="button" class="btn btn-info btn-num-calc" data-comando="1">1</button></td>
						<td><button type="button" class="btn btn-info btn-num-calc" data-comando="2">2</button></td>
						<td><button type="button" class="btn btn-info btn-num-calc" data-comando="3">3</button></td>
						<td><button type="button" class="btn btn-default btn-num-calc" data-comando="*">X</button></td>
					</tr>
					<tr>
						<td><button type="button" class="btn btn-warning btn-num-calc" data-comando="c">C</button></td>
						<td><button type="button" class="btn btn-info btn-num-calc" data-comando="0">0</button></td>
						<td><button type="button" class="btn btn-default btn-num-calc" data-comando="=">=</button></td>
						<td><button type="button" class="btn btn-default btn-num-calc" data-comando="/">/</button></td>
					</tr>
				</table>
	        </div>
	        <div class="panel-footer"></div>
	    </div>
	</div>

	<div class="col-lg-4">
		<div class="panel panel-default">
	        <div class="panel-heading">IMC</div>
	        <div class="panel-body">
				<button type="button" class="btn btn-default btn-app-calc" data-comando="imc">IMC</button>
	        </div>
	        <div class="panel-footer"></div>
	    </div>
	</div>
</div>
