<html>
	<CENTER>
   		<FORM NAME="ImcCalc">
		        <TABLE BORDER=4 WIDTH="350" bgcolor="green">
	 			<TR>
					<TH ALIGN="CENTER" WIDTH="100">IMC</TH>
					<TH ALIGN="CENTER" WIDTH="250">Classificação</TH>
		                </TR>
		                <TR>
		                        <TD ALIGN="CENTER"><16</TD>
		                        <TD ALIGN="CENTER">Desnutrição grau 3</TD>
		                </TR>
		                <TR>
		                        <TD ALIGN="CENTER">16 ~ 16,9</TD>
		                        <TD ALIGN="CENTER">Desnutrição grau 2</TD>
		                </TR>
		                <TR>
		                        <TD ALIGN="CENTER">17 ~ 18,4</TD>
		                        <TD ALIGN="CENTER">Desnutrição grau 1</TD>
		                </TR>
		                <TR>
		                        <TD ALIGN="CENTER">18,5 ~ 24,9</TD>
		                        <TD ALIGN="CENTER">Peso Ideal</TD>
		                </TR>
		                <TR>
		                        <TD ALIGN="CENTER">25 ~ 29,9</TD>
		                        <TD ALIGN="CENTER">Levemente Acima do Peso</TD>
		                </TR>
		                <TR>
		                        <TD ALIGN="CENTER">30 ~ 34,9</TD>
		                        <TD ALIGN="CENTER">Obesidade Grau 1</TD>
		                </TR>
		                <TR>
		                        <TD ALIGN="CENTER">35 ~ 39,9</TD>
		                        <TD ALIGN="CENTER">Obesidade Grau 2 (severa)</TD>
		                </TR>
		                <TR>
		                        <TD ALIGN="CENTER">>40</TD>
		                        <TD ALIGN="CENTER">Obesidade Grau 3 (mórbita)</TD>
		                </TR>
		                <TR>
					<TD ALIGN="RIGHT">Altura(m):</TD>
					<TD><INPUT TYPE="text" NAME="Altura" SIZE="5"></TD>
		                </TR>
		                <TR>
					<TD ALIGN="RIGHT">Peso(kg):</TD>
					<TD><INPUT TYPE="text" NAME="Peso" SIZE="5"></TD>
		                </TR>
		                <TR>
					<TD ALIGN="RIGHT">IMC:</TD>
					<TD>
						<INPUT TYPE="text" NAME="ImcResult" SIZE="5">
						<INPUT TYPE="button" NAME="calc" VALUE="CALCULAR" onClick="ImcCalc.ImcResult.value = ImcCalc.Peso.value / (ImcCalc.Altura.value * ImcCalc.Altura.value);">
					</TD>
		                </TR>
		        </TABLE>
        	</FORM>
	</CENTER>
</html>


